@import "./utils/variables", "./utils/extends";
@import "./base/base";
@import "./layouts/navigation", "./layouts/header", "./layouts/responsive";

// main
#main {
  // About
  #about {
    .wrapper {
      cursor: pointer;
      border-color: $color-first !important;
      transition: all 0.5s;
      i {
        color: $color-first;
      }
      &:hover {
        border-top-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
        background: $color-mix;
        i,
        p,
        h5 {
          color: #fff !important;
        }
      }
    }
  }
  // Services
  #services {
    p {
      color: $color-first;
    }
    .wrapper {
      cursor: pointer;
      border-top-left-radius: 3rem;
      i {
        color: $color-first;
        transition: color 0.5s;
      }
      h6 {
        transition: color 0.5s;
      }
      clip-path: inset(1.5rem);
      transition: clip-path 0.5s;
      &:hover {
        background: $color-mix;
        i,
        h6 {
          color: #fff !important;
        }
        clip-path: inset(0rem);
      }
    }
  }
}
