@import "./utils/variables", "./utils/extends";
@import "./base/base";
@import "./layouts/navigation", "./layouts/header", "./layouts/responsive";

// main
#main {
  // About
  #about {
    .wrapper {
      cursor: pointer;
      border-color: $color-first !important;
      transition: all 0.5s;
      i {
        color: $color-first;
      }
      &:hover {
        border-top-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
        background: $color-mix;
        i,
        p,
        h5 {
          color: #fff !important;
        }
      }
    }
  }
  // Services
  #services {
    p {
      color: $color-first;
    }
    .wrapper {
      cursor: pointer;
      border-top-left-radius: 3rem;
      i {
        color: $color-first;
        transition: color 0.5s;
      }
      h6 {
        transition: color 0.5s;
      }
      clip-path: inset(1.5rem);
      transition: clip-path 0.5s;
      &:hover {
        background: $color-mix;
        i,
        h6 {
          color: #fff !important;
        }
        clip-path: inset(0rem);
      }
    }
  }
  // Creative
  #creative {
    img {
      cursor: pointer;
      transition: transform 0.5s;
      &:hover {
        transform: scale(1.1);
      }
    }
    li {
      position: relative;
      padding-left: 1.3rem;
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background: $color-mix;
        left: 0;
        top: 0.4rem;
        transform: rotate(35deg);
      }
    }
    h3 {
      color: $color-first;
    }
  }
  // Choose
  #choose {
    position: relative;
    background-image: url(/assets/images/banner_bg.jpg);
    @extend %background-image;
    padding-top: 20rem;
    .row {
      &::before {
        content: url(/assets/images/teacher-image.png);
        position: absolute;
        top: -420px;
        right: 0;
      }
      .wrapper {
        cursor: pointer;
        background-color: rgb($color: $color-second, $alpha: 0.4);
        transition: all 0.5s;
        &:hover {
          border-top-left-radius: 2rem;
          border-bottom-right-radius: 2rem;
        }
      }
    }
  }
  // Team
  #team {
    p {
      color: $color-first;
    }
    .wrapper {
      img {
        transition: transform 0.5s;
      }
      &:hover {
        .overlay {
          opacity: 0.3;
          transform: scale(1.1);
        }
        img {
          transform: scale(1.1);
        }
      }
      .overlay {
        cursor: pointer;
        background-color: $color-first;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.5s;
        .text {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          i {
            transition: transform 0.5s;
            &:hover {
              transform: scale(1.5);
            }
          }
        }
      }
    }
  }
  // Packages
  #price {
    .wrapper {
      border-color: $color-first !important;
      a {
        background: $color-mix;
        &:hover {
          background: $color-second;
        }
      }
    }
  }
  // Testimonial
  #testimonial {
    background-image: url(/assets/images/testimonial-bg.jpg);
    padding: 0 0 7rem 0;
    .wrapper {
      background-color: rgba($color: $color-first, $alpha: 0.6);
      border-color: $color-first !important;
      border-bottom-left-radius: 10rem;
      border-bottom-right-radius: 10rem;
    }
  }
  // Success
  #success {
    background-image: url(/assets/images/counter-bg.jpg);
    @extend %background-image;
    padding: 5rem 0;
    .wrapper {
      transition: transform 0.5s;
      &:hover {
        transform: translateY(-1rem);
      }
    }
  }
  // Blog
  #blog {
    p {
      color: $color-first;
    }
    .wrapper {
      &:hover {
        .content {
          border: 0.1rem solid $color-first !important;
        }
      }
      .content {
        transition: border 0.5s;
        li {
          a {
            transition: color 0.5s;
          }
          &:hover {
            a {
              color: $color-first !important;
            }
          }
          i {
            margin-right: 0.2rem;
            color: $color-first !important;
          }
        }
        p {
          color: $color-second;
        }
      }
    }
    .dots {
      .dot {
        cursor: pointer;
        background-color: $color-first;
        border-radius: 50%;
        transition: background-color 0.5s;
        &:nth-child(2):hover {
          background-color: $color-first !important;
        }
      }
    }
  }
  // Contact{
  #contact {
    background-image: url(/assets/images/contact-us.jpg);
    @extend %background-image;
    position: relative;
    z-index: 1;
    &:after {
      content: "";
      background-color: $color-first;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      z-index: -1;
    }
    .wrapper {
      &:hover {
        background: $color-mix;
        i,
        a {
          color: #fff !important;
        }
      }
      li {
        i,
        a {
          color: $color-first !important;
        }
      }
    }
    input::placeholder,
    textarea::placeholder {
      color: #fff !important;
    }
  }
}
