#main #success, #main #choose, #header {
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  font-size: 1rem !important;
}

#nav {
  background-color: rgb(255, 0, 122);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
#nav li {
  border-radius: 2rem;
}
#nav li:nth-child(1) {
  background: linear-gradient(to top, rgb(255, 0, 122) 0%, rgb(142, 0, 116) 100%);
}
#nav li:hover {
  background: linear-gradient(to top, rgb(255, 0, 122) 0%, rgb(142, 0, 116) 100%);
}

#header {
  background-image: url(/assets/images/body-bg.png);
  margin-top: 4.3rem;
  padding: 5rem 0;
}
#header i {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 0, 122);
}
#header a {
  background: linear-gradient(to top, rgb(255, 0, 122) 0%, rgb(142, 0, 116) 100%);
  border-radius: 2rem;
}
#header a:hover {
  background: rgb(142, 0, 116);
}

@media only screen and (max-width: 992px) {
  #header {
    margin-top: 3.5rem;
  }
  #choose {
    padding: 6rem 0 !important;
  }
  #choose .row::before {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  #nav .logo {
    display: none;
  }
  #nav ul {
    justify-content: center !important;
  }
}
@media only screen and (max-width: 576px) {
  #nav ul {
    -moz-column-gap: 0.2rem !important;
         column-gap: 0.2rem !important;
  }
  #nav ul li {
    padding: unset !important;
    border-radius: unset !important;
    background: unset !important;
  }
  #nav ul li a {
    font-size: 0.8rem;
    transition: color 0.5s;
  }
  #nav ul li a:hover {
    color: rgb(142, 0, 116) !important;
  }
  #header {
    margin-top: 2.5rem;
  }
}
#main #about .wrapper {
  cursor: pointer;
  border-color: rgb(255, 0, 122) !important;
  transition: all 0.5s;
}
#main #about .wrapper i {
  color: rgb(255, 0, 122);
}
#main #about .wrapper:hover {
  border-top-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  background: linear-gradient(to top, rgb(255, 0, 122) 0%, rgb(142, 0, 116) 100%);
}
#main #about .wrapper:hover i,
#main #about .wrapper:hover p,
#main #about .wrapper:hover h5 {
  color: #fff !important;
}
#main #services p {
  color: rgb(255, 0, 122);
}
#main #services .wrapper {
  cursor: pointer;
  border-top-left-radius: 3rem;
  -webkit-clip-path: inset(1.5rem);
          clip-path: inset(1.5rem);
  transition: -webkit-clip-path 0.5s;
  transition: clip-path 0.5s;
  transition: clip-path 0.5s, -webkit-clip-path 0.5s;
}
#main #services .wrapper i {
  color: rgb(255, 0, 122);
  transition: color 0.5s;
}
#main #services .wrapper h6 {
  transition: color 0.5s;
}
#main #services .wrapper:hover {
  background: linear-gradient(to top, rgb(255, 0, 122) 0%, rgb(142, 0, 116) 100%);
  -webkit-clip-path: inset(0rem);
          clip-path: inset(0rem);
}
#main #services .wrapper:hover i,
#main #services .wrapper:hover h6 {
  color: #fff !important;
}
#main #creative img {
  cursor: pointer;
  transition: transform 0.5s;
}
#main #creative img:hover {
  transform: scale(1.1);
}
#main #creative li {
  position: relative;
  padding-left: 1.3rem;
}
#main #creative li::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: linear-gradient(to top, rgb(255, 0, 122) 0%, rgb(142, 0, 116) 100%);
  left: 0;
  top: 0.4rem;
  transform: rotate(35deg);
}
#main #creative h3 {
  color: rgb(255, 0, 122);
}
#main #choose {
  position: relative;
  background-image: url(/assets/images/banner_bg.jpg);
  padding-top: 20rem;
}
#main #choose .row::before {
  content: url(/assets/images/teacher-image.png);
  position: absolute;
  top: -420px;
  right: 0;
}
#main #choose .row .wrapper {
  cursor: pointer;
  background-color: rgba(142, 0, 116, 0.4);
  transition: all 0.5s;
}
#main #choose .row .wrapper:hover {
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
#main #team p {
  color: rgb(255, 0, 122);
}
#main #team .wrapper img {
  transition: transform 0.5s;
}
#main #team .wrapper:hover .overlay {
  opacity: 0.3;
  transform: scale(1.1);
}
#main #team .wrapper:hover img {
  transform: scale(1.1);
}
#main #team .wrapper .overlay {
  cursor: pointer;
  background-color: rgb(255, 0, 122);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
}
#main #team .wrapper .overlay .text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main #team .wrapper .overlay .text i {
  transition: transform 0.5s;
}
#main #team .wrapper .overlay .text i:hover {
  transform: scale(1.5);
}
#main #price .wrapper {
  border-color: rgb(255, 0, 122) !important;
}
#main #price .wrapper a {
  background: linear-gradient(to top, rgb(255, 0, 122) 0%, rgb(142, 0, 116) 100%);
}
#main #price .wrapper a:hover {
  background: rgb(142, 0, 116);
}
#main #testimonial {
  background-image: url(/assets/images/testimonial-bg.jpg);
  padding: 0 0 7rem 0;
}
#main #testimonial .wrapper {
  background-color: rgba(255, 0, 122, 0.6);
  border-color: rgb(255, 0, 122) !important;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}
#main #success {
  background-image: url(/assets/images/counter-bg.jpg);
  padding: 5rem 0;
}
#main #success .wrapper {
  transition: transform 0.5s;
}
#main #success .wrapper:hover {
  transform: translateY(-1rem);
}/*# sourceMappingURL=main.css.map */