#header {
  background-image: url(/assets/images/body-bg.png);
  @extend %background-image;
  margin-top: 4.3rem;
  padding: 5rem 0;
  i {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-first;
  }
  a {
    background: $color-mix;
    border-radius: 2rem;
    &:hover {
      background: $color-second;
    }
  }
}
