// XX-Large devices (larger desktops, 1400px and down)
@media only screen and (max-width: 1400px) {
}
// X-Large devices (large desktops, 1200px and down)
@media only screen and (max-width: 1200px) {
}

// Large devices (desktops, 992px and down)
@media only screen and (max-width: 992px) {
  #header {
    margin-top: 3.5rem;
  }
  #choose {
    padding: 6rem 0 !important;
    .row {
      &::before {
        display: none !important;
      }
    }
  }
  #footer {
    ul {
      margin-top: 9rem;
    }
  }
}

// Medium devices (tablets, 768px and down)
@media only screen and (max-width: 768px) {
  #nav {
    .logo {
      display: none;
    }
    ul {
      justify-content: center !important;
    }
  }
  #footer {
    position: unset !important;
    .subscribe {
      position: unset !important;
      transform: unset !important;
    }
    ul {
      margin-top: 2rem !important;
    }
  }
}

// Small devices  (tablets, 576px and down)
@media only screen and (max-width: 576px) {
  #nav {
    ul {
      column-gap: 0.2rem !important;
      li {
        padding: unset !important;
        border-radius: unset !important;
        background: unset !important;
        a {
          font-size: 0.8rem;
          transition: color 0.5s;
          &:hover {
            color: $color-second !important;
          }
        }
      }
    }
  }
  #header {
    margin-top: 2.5rem;
  }
}

// Extra Small devices (tablets, 320px and down)
@media only screen and (max-width: 320px) {
}
